* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: crimson;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
}

.container {
  display: flex;
  /* column-gap: 30px;
  row-gap: 30px; */
  /* flex-direction: column; */
  gap: 30px;
  /* justify-content: end;
  justify-content: start;
  justify-content: center;
  justify-content: space-around;
  justify-content: space-between;
  justify-content: space-evenly; */

  /* align-items: end;
  align-items: start;
  align-items: center;
  align-items: stretch; */

  /* flex-wrap: wrap;
  flex-wrap: nowrap; */
  /* flex-direction: row;
  flex-direction: row row-reverse;
  flex-direction: column;
  flex-direction: column-reverse; */

  /* justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; */

  height: 500px;
  border: 3px solid black;
}

.container .box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background: blue;
  color: crimson;
  font-size: 3em;
}

.container .box:nth-last-of-type(3) {
  /* order: -1; */
  order: auto;
  align-self: end;
  align-self: center;
}
